<!--<pre>/views/service.hbs</pre>-->
<div class="service">
    <h1>
        Name:{{service.name}}
        </h1>
        <iframe
width="600"
height="450"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=EH1+1DF&key=AIzaSyC_SpOOSz16oNC51VVrx3D38U2sNyikCM0" allowfullscreen>
</iframe>
<br/>
<br/>
    <a href="{{service.website}}">Service homepage</a>

    <!-- this makes JS in the console, go look... -->
    {{{dump service}}}
    {{{dump assets}}}


</div>
{{#if assets.length}}
<br/>
<table id="assets" class="" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <!--<th>Type</th>-->
        <th>Description</th>
        <th>Link</th>
    </tr>
    </thead>
    <!--<tfoot>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    </tfoot>-->
    <tbody>
    {{#each assets}}
        <tr>
            <td>{{this.name}}</td>
            <!--<td>{{this.type}}</td>-->
            <td>{{this.description}}</td>
            <td><a href="{{this.uri}}">VISIT</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
<br/>
{{/if}}
