<pre>/views/service.hbs</pre>
<div class="service">
    <h1>
        Name:{{service.name}}
        </h1>
        <iframe
width="600"
height="450"
frameborder="0" style="border:0"
src="https://www.google.co.uk/maps/embed/v1/place/98+W+George+St,+Glasgow+G2+1PJ/@55.8623108,-4.2575481,17z/data=!3m1!4b1!4m8!1m2!2m1!1s98+West+George+Street,+Glasgow+G2+1PJ!3m4!1s0x4888469fd53b04c9:0x7691cc45f2862def!8m2!3d55.8623078!4d-4.2553594" allowfullscreen>
</iframe>
    {{service.website}}

    <!-- this makes JS in the console, go look... -->
    {{{dump service}}}
    {{{dump assets}}}


</div>

<table id="assets" class="" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    </tfoot>
    <tbody>
    {{#each assets}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.description}}</td>
            <td><a href="{{this.uri}}">VISIT</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>